/*------------------------------------*\
  #GLOBALS
\*------------------------------------*/

/**
 * CONTENTS
 *
* SETTINGS
 * All..................Please see `settings/_all.scss` for a full table of
 *                      contents.
 *
 * TOOLS
 * All..................Please see `tools/_all.scss` for a full table of
 *                      contents.
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 *
 * ELEMENTS
 * Page.................Page-level styles (HTML element).
 *
*/

@import "settings/all";

@import "tools/all";

@import "generic/generic.normalize";
@import "generic/generic.reset";

@import "elements/elements.page";
