@import "../../styles/settings/all";
@import "../../styles/tools/all";

.title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.pink {
  color: $color-pink;
}

.green {
  color: $color-green;
}
