@import "../../styles/settings/all";
@import "../../styles/tools/all";

$border: 2px;

.button {
  display: grid;
  place-items: center;
  position: relative;
  padding: 0.75rem;
  color: $color-cta-text;
  background: $color-cta-background;
  background-clip: padding-box;
  border: $border solid transparent;
  border-radius: 0.25rem;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background-image: $color-gradient;
    background-size: 200% auto;
    transition: 750ms;
  }

  &:hover {
    &::before {
      background-position: right center;
    }
  }
}

.link {
  composes: button;
  text-decoration: none;
}
