@import "../../styles/settings/all";

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header"
    "main";
  grid-row-gap: 2rem;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
