/*------------------------------------*\
  #PAGE
\*------------------------------------*/
/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

body {
  max-width: 60rem;
  margin: 0 auto;
  background-color: $color-app-background;
  color: $color-app-text;
}

a {
  &:focus {
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px $color-yellow;
    outline: none;
  }
}
