@import "../styles/settings/all";
@import "../styles/tools/all";

.cta {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;

  @media (min-width: $sm) {
    grid-template-rows: none;
    grid-template-columns: repeat(2, max-content);
    column-gap: 1rem;
  }
}
