/*------------------------------------*\
  #STICKY-SECTIONS
\*------------------------------------*/

@import "../../../styles/settings/all";

.root {
  display: grid;
  grid-row-gap: 2rem;
}

.section {
  display: flex;
  align-items: flex-start;

  h3,
  p {
    flex: 1;
    line-height: 1.75rem;
  }

  h3 {
    position: sticky;
    top: 0;
    font-size: 1.125rem;
    font-weight: 400;
    color: $color-green;
  }
}
