@import "../../../styles/settings/all";
@import "../../../styles/tools/all";

.root {
  display: grid;
  grid-row-gap: 2rem;
  margin-bottom: 100vh; /* Add enough space to activate sticky elements */
}

.section {
  display: flex;
  align-items: flex-start;

  h3,
  p {
    flex: 1;
  }

  h3 {
    position: sticky;
    top: 0;
  }
}
