/*------------------------------------*\
  #HORIZONTAL-OVERFLOW
\*------------------------------------*/

@import "../../../styles/settings/all";

.root {
  display: flex;
  padding: 0.75rem;
  border: 1px solid $color-blue;
  border-radius: 0.5rem;
  overflow-x: scroll;
}
