/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

@import "../../styles/settings/all";
@import "../../styles/tools/all";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-top: 4rem;
  color: $color-footer-text;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  border-top: 1px solid $color-footer-border;

  span {
    color: $color-footer-highlight;
  }

  a {
    text-transform: inherit;
  }

  @media (min-width: $xl) {
    font-size: 1rem;
  }
}
